body {

    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}    

#company_name{
    display: block;
    border: none;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 10px;
    color: white;
    outline: none;
    width: 96.5%;
    font-size: 30px;
}
#group{

    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.75;
    display: inline;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
    outline: none;
    width: 21%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
#group:hover {
    opacity: 1;
}

#help{
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    display: inline;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    outline: none;
    width: 21%;
    font-size: 30px;
    position: fixed;
    font-weight: bold;
    cursor: pointer;
    bottom: 0;
    right: 0;
}
#help:hover {
    opacity: 1;
}

#info{
    display: block;
    border: none;
    padding: 10px;
    margin: 5px;
    color: rgb(255, 255, 255);
    outline: none;
    width: 90%;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
}

#welcome{
    display: block;
    border: none;

    padding: 5px;
    margin: 0;
    color: rgb(255, 255, 255);
    outline: none;
    width: 96.5%;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
}

#informacija{
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    display: inline;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    outline: none;
    width: 26%;
    font-size: 30px;
    position: fixed;
    font-weight: bold;
    cursor: pointer;
    bottom: 0;
    left: 0;
}
#informacija:hover {
    opacity: 1;
}

#info2{
    display: block;
    border: none;
    padding: 10px;
    margin: 5px;
    color: rgb(255, 255, 255);
    outline: none;
    width: 90%;
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
}